
*.xcbkptlist
MGSpotyView.xcodeproj/project.xcworkspace/xcuserdata/matteo.xcuserdatad/UserInterfaceState.xcuserstate
MGSpotyView.xcodeproj/xcuserdata/matteo.xcuserdatad/xcschemes/MGSpotyView.xcscheme
MGSpotyView.xcodeproj/xcuserdata/matteo.xcuserdatad/xcschemes/xcschememanagement.plist
